body {
	margin: 0;
}

canvas { 
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#header {
	position:absolute;
	background-color: rgba(255,255,255,0);
	pointer-events:none;
	display:inline-block;
	z-index: 10;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
}

#arrow {
	position:absolute;
	pointer-events:all;
}

img {
	pointer-events:all;
}

img:hover {
	opacity:0.6;
}

h1, h2 {
	font-family: 'museo-sans', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 32pt;
	letter-spacing: 16pt;
	padding-left: 10pt;
}

h2 {
	text-align: left;
	margin-bottom: 8pt;
	letter-spacing: 5pt;
	font-size: 12pt;
}

#first {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
  visibility: hidden;
}

#page {
	position: relative;
	pointer-events:all;
	z-index: 5;
	width: 100%;
	opacity: 0;
	top:100vh;
}

#page h1 {
	font-family: "museo-sans";
	font-weight: normal;
	color: rgba(0,0,0,0.4);
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 24px;
	padding-left: 11pt;
}

#page p {
	padding-left: 11pt;
	font-family: "calluna", serif;
	font-size: 20px;
	line-height: 36px;
	color: rgba(0,0,0,0.7);
}

#container {
	max-width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	text-align: center;	
	margin: 100px auto 20px auto;
	font-family: "museo-sans", serif;
	font-weight: 100;
	letter-spacing: 2px;
	opacity: 0.5;
	font-size: 16px;
}

@media (max-width : 700px) {

	h1, h2, #page p {
		padding-left: 20px;
		padding-right: 20px;
		text-indent: 0;
	}
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	h1, h2 {
		letter-spacing: 0;
	}
}

