body {
	margin: 0;
	color: rgba(0,0,0,0.8);
}

canvas { 
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.header {
	background-color: rgba(255,255,255,0);
	pointer-events:none;
	z-index: 10;
	text-align: center;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
}

#arrow, #learn {
	pointer-events:all;
}

img {
	pointer-events:all;
	margin: 0 auto;
}

img:hover {
	opacity:0.6;
}

h1, h2 {
	font-family: 'museo-sans', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 32pt;
	letter-spacing: 16pt;
	padding-left: 10pt;
	margin-bottom: 1em;
}

h2 {
	margin-bottom: 8pt;
	letter-spacing: 5pt;
	font-size: 12pt;
}

#first {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
  visibility: hidden;
}

.page {
	position: relative;
	pointer-events:all;
	z-index: 5;
	width: 100%;
	opacity: 0;
	top:100vh;
}

.page h1 {
	font-family: "museo-sans", 'Lato', 'Helvetica', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	color: rgba(0,0,0,0.4);
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 24px;
	padding-left: 11pt;
}

.page p {
	padding-left: 11pt;
	font-family: "calluna", serif;
	font-size: 18px;
	line-height: 30px;
	color: rgba(0,0,0,0.7);
}

.container {
	max-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}


@media (max-width : 700px) {

	h1, h2, .page p {
		padding-left: 20px;
		padding-right: 20px;
		text-indent: 0;
	}
}

a.button, a.button:hover, a.button:active, a.button:visited {
	height: 20px;
	padding: 10px 20px 10px 20px;
	border: 2px solid rgba(0,0,0,0.8);
	background-color: rgba(255,255,255,0.7);
	color: rgba(0,0,0,0.8);
	text-decoration: none;
	font-family: "museo-sans", 'Lato', 'Helvetica', 'Helvetica Neue', sans-serif;
	margin-top: 20px;
}

a.button:hover {
	text-decoration: none;
	cursor: pointer;
	color: white;
	background-color: rgba(0,0,0,0.8);
}

#text {
	margin-top: 150px;
}

#logistics, #logistics p {
	text-align: right;
	margin: 0;
	font-family: 'museo-sans', 'Lato', 'Helvetica', 'Helvetica Neue', sans-serif;
	font-size: 14px;
}

#logistics span {
	font-weight: 700;
}

p.red {
	color: #8C1515;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	h1, h2 {
		letter-spacing: 0;
	}

	#logistics, #logistics p {
		text-align: center;
	}

	.header.movedUp {

	}

	h1.movedUp {
		font-size: 28px;
	}




}

