body {
	margin: 0;
}

canvas { 
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#header {
	position:absolute;
	background-color: rgba(0,0,0,0);
	pointer-events:none;
}

#arrow {
	position:absolute;
	pointer-events:all;
}

img {
	pointer-events:all;
}

img:hover {
	opacity:0.6;
}

h1, h2 {
	font-family: 'museo-sans', 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 32pt;
	letter-spacing: 16pt;
	z-index: 999;
	background-color: rgba(0,0,0,0);
}

h2 {
	text-align: left;
	margin-bottom: 8pt;
	letter-spacing: 5pt;
	font-size: 12pt;
}

#first, #second {
	height:100%;
	width:100%;
}

